body{
background-image: url();
    
}


a{
    color: darkblue;
    font-size: 20px;
}
a:hover{
    color: rgb(28, 40, 58);
}

.card-body{
    text-align: center;
    background-color: rgb(143, 151, 158);
    margin-left: 200px;
    margin-right: 200px;
    /* opacity: 0.8; */
    font-size: 30px;
    color: white;
   
}

.write{
    margin-bottom: 5px;
    text-align: center;
}

.navbar{


    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.h1,h2{
   font-family: cursive;
   font-size: 26px;
   color: blanchedalmond;
}

hr.new1 {
    border-top: 1px solid rgb(133, 128, 128);
    margin-left: 100px;
    margin-right: 100px;
  }

.comment{
    text-align: center;
   
}

.card{
 border-radius: 20px;
}

.header1{
    font-size: 25px;
}

#video_background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1000;
  }

  .cont{
    background-image:url("https://png.pngtree.com/thumb_back/fw800/20170805/pngtree-Design-Wallpaper-Shape-Graphic-background-photo-870344.jpg");
  }


